//INICIO footer
.section-footer{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

    .text-footer {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        line-height: 22px;
        color: #060A24;
        font-weight: 300;
        margin: 24px 0px 16px 0px;

    }
    .icons-footer{
        margin-left: 45px;
        margin-right: 45px;
        display: flex;
        .fab {
            width: 16px;
            margin: 0px 19px 31px;
            color: gray;
      
          }
    }
}
//FINAL footer 

// MEDIA QUERIES 1365px
@media (min-width: 1365px){
  // footer inicio
      .section-footer{
          width: 100%;
          height: 140px;
          flex-direction: row;
          justify-content: space-between;
       
          .text-footer{
              font-size: 16px;
              line-height: 28px;
              margin: 36px 0px 31px 50px;
          }
          .icon-container{
            margin-right: 30px;
        
            .fab{
              width: 18px;
              margin: 36px 19px 31px;
        
            }
          }
        }
  // footer terminado
  }
// MEDIA QUERIES 1440px
@media (min-width: 1440px) {
//footer inicio 
    .section-footer{
        width: 100%;
        height: 140px;
        flex-direction: row;
        justify-content: space-between;
     
        .text-footer{
            font-size: 16px;
            line-height: 28px;
            margin: 36px 0px 31px 50px;
        }
        .icon-container{
          margin-right: 30px;
      
          .fab{
            width: 18px;
            margin: 36px 19px 31px;
      
          }
        }
      }
//footer terminado
}
    
